
<div class="single-page">
    <div class="section section--title nebula-background">
        <div class="title-slogan">
            <h1>E-VENTURE</h1>
            <div>
                <h3>
                    Amplie sua experiência nos eventos.
                </h3>
            </div>
        </div>
        <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac imperdiet augue. 
                Aliquam erat volutpat. Nullam pretium viverra dignissim. Duis lacinia porta maximus. 
                Mauris mattis faucibus ipsum id scelerisque. Maecenas pharetra libero lorem, vel consequat ligula condimentum ut. 
                Proin dapibus ante a risus hendrerit commodo. Donec ultrices mollis ante lacinia.</p>
        </div>
<!-- 
        <div class="section section--treasures">
            <div class="treasures-shelf center" >
                    <app-tresure-icon *ngFor="let icon of icons | range:0:4" [treasureIcon]="icon"></app-tresure-icon>
                
            </div>

            <div class="treasures-shelf center" >
                <app-tresure-icon *ngFor="let icon of icons | range:30:38" [treasureIcon]="icon"></app-tresure-icon>
            </div>

            <div class="treasures-shelf start">
                <app-tresure-icon *ngFor="let icon of icons | range:6:10" [treasureIcon]="icon"></app-tresure-icon>
            </div>
        </div> -->


        <div class="text-bottom">
            <div class="text-container">
                <div class="icon-text">🌟</div>
                <p>Subscribe To Your <b>Events</b></p>
                <div class="icon-text">🌟</div>
            </div>
            <div class="text-container">
                <div class="icon-text">🌟</div>
                <p>Get More Involved In Your <b>Activities</b></p>
                <div class="icon-text">🌟</div>
            </div>
            <div class="text-container">
                <div class="icon-text">🌟</div>
                <p>Build Your <b>Network</b></p>
                <div class="icon-text">🌟</div>
            </div>
            <div class="text-container">
                <div class="icon-text">🌟</div>
                <p>Retrieve Your <b>Treasures</b></p>
                <div class="icon-text">🌟</div>
            </div>
        </div>
    </div>

    
    
    <div class="section section--treasures center">
        
        <div class="center">
            <div class="treasures-pyramid" >
                <div class="row">
                    <app-tresure-icon *ngFor="let icon of icons | range:12:14" [treasureIcon]="icon"></app-tresure-icon>
                </div>
                <div class="row">
                    <app-tresure-icon *ngFor="let icon of icons | range:6:10" [treasureIcon]="icon"></app-tresure-icon>
                </div>
                <div class="row">
                    <app-tresure-icon *ngFor="let icon of icons | range:0:4" [treasureIcon]="icon"></app-tresure-icon>
                </div>
                <div class="row">
                    <app-tresure-icon *ngFor="let icon of icons | range:16:18" [treasureIcon]="icon"></app-tresure-icon>
                </div>
            </div>
        </div>

        <div class="treasure-description-container">
            <h1>Be Part of Great Events.</h1>
            <h1>Retrieve Treasures. Earn Points.</h1>
            <h1>Learn Even More With Quizzes.</h1>
            <h1>Build Your Network and Have Fun!</h1>
            <div class="m-30-top">
                <h1 class="logo-text fmaill-font">E-VENTURE</h1>
            </div>
        </div>
    </div>

    <div class="section--description center">
        <div class="description w-80">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac imperdiet augue. 
                Aliquam erat volutpat. Nullam pretium viverra dignissim. Duis lacinia porta maximus. 
                Mauris mattis faucibus ipsum id scelerisque. Maecenas pharetra libero lorem, vel consequat ligula condimentum ut. 
                Proin dapibus ante a risus hendrerit commodo. Donec ultrices mollis ante lacinia.</p>
        </div>
    </div>

    <div class="section--invitation">

    </div>
</div>
