<div class="single-page center night-sky-background">

    <div class="login-container">
        <div class="logo">
            <h1>E-Venture</h1>
        </div>

        <form class="form-content">
            <label for="">Username</label>
            <input type="text">
            <label for="">Senha</label>
            <input type="text">

            <div class="btn-container">
                <div class="btn" routerLink="/user">
                    <h2>Entrar</h2>
                </div>
            </div>
            
        </form>

        <div class="link-box">
            <p>Não tem uma conta? Cadastre aqui.</p>
        </div>
    </div>
</div>
